*{
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right bottom, rgba(3, 11, 37,.9), rgba(5, 26, 95,.7)), url('./fond.jpg');
    color: white;
}

h1{
    text-align: center;
}

.jeu{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    height: 100vh;
}
@media screen and (min-width:900px){
    .jeu{width:60%;}
}
.settings{
}

.selects{
    display: flex;
    justify-content: space-between;
}


button{
    width: 80%;
    display: block;
    padding: 12px 0;
    margin: 10px auto;
    background: linear-gradient(to right bottom, rgb(8, 85, 8), rgb(30, 158, 30));
    color: white;
}

button:disabled{
    background: rgb(80, 95, 80);

}

.content{
    border: 8px solid  rgb(2, 8, 26);
    border-radius: 15px;

}

.ligne{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.char{
    display: inline-block;
    border: 4px solid white;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 40px;
    
    box-shadow: 0 -4px 6px inset;
}

.repere{
    background-color: rgba(9, 139, 53, 0.4);
}
/* classes pour JS   */

.green{
    background-color: green;
}

.red{
    background-color: red;
}

.orange{
    background-color: orange;
}

.annonce{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 60%;
    height: 80px;
    border-radius: 15px;
    box-shadow: 4px 6px 12px black;
    text-align: center;
    line-height: 80px;
    z-index: 1;
}